/* Master CSS
-------------------------------------------------- */
$color1: rgb(55,103,17); /* green */
$color2: rgb(125,48,129); /* purple */
$color3: rgb(62,215,21);  /* lightgreen */
$color4: rgb(134,216,253); /* experiment */

html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: 'Lato', sans-serif;
}

 .container{
        max-width: 1000px;

    }

a{
  color: #fff;
  text-decoration: none !important;
  word-break: break-all;
}

a:hover, a:focus, a:active{
  color: grey;
}

.markdowndiv img{
    width:100%;
    max-width:600px;
}

/* Sections   
-------------------------------------------------- */

.section{
    padding: 50px 0;
}

.cover{
    min-height: 100vh;
    background: url("../images/cover.jpg") no-repeat center;
    background-size: cover;
    text-align: center;
    position: relative;
}   

.coveroverlay{
    min-height: 100%;
    min-width: 100%;
    background-color: rgba(85,85,85,0.6);
    position: absolute;
    top: 0; left: 0; 
    display: flex;               
    align-items: center;   
}  

.projects{
    background: $color1;
    text-align: center;
    color: white;
}  

.introsection{
    background: $color1;
    text-align: center;
    color: white;
    padding: 20px 0;
}  

.projectoverview{
    background: white;
    text-align: center;
}   

.projectoverview h3{
  margin-bottom: 15px;
  margin-top: 15px;
  border-bottom: 3px solid $color2;  
}

.projectoverview a, .modal-footer a{
  color:black;  
}

.projectoverview a:hover, .projectoverview a:focus, .projectoverview a:active, .modal-footer a:hover, .modal-footer a:focus, .modal-footer a:active{
  color: grey;
}

.modal a{
  color:black;  
}

.modal a:hover, .modal a:focus, .modal a:active{
  color: grey;
}

.publications{
    background: white;
    text-align: center;
}   

.publications a{
  color: black;
}

.publicationintro{
    background: $color1;
    text-align: center;
    color: white;
}  

.publicationoverview{
    background: white;
    text-align: center;
}   

.publicationoverview h3{
  margin-bottom: 15px;
  margin-top: 45px;
  border-bottom: 3px solid $color2;  
}

.publicationoverview a{
  color:black;  
}

.publicationoverview a:hover, .publicationoverview a:focus, .publicationoverview a:active{
  color: grey;
}

.practices{
    background: $color1;
    text-align: center;
    color: white;
}  

.statistics{
    background: white;
    text-align: center;
}

.statistics img{
  text-align: center;
}

.statistics a{
  color: black;
}

.statistics a:hover, .statistics a:focus, .statistics a:active, .publications a:hover, .publications a:focus, .publications a:active{
  color: grey;
}


.cover h1{
    margin: auto;
    font-size: 28.5pt;
    line-height: 120%;
    font-weight: normal;
    color: white;
}

.cover h1 span{
    color: $color3;
}

.cover p{
    margin: 30px auto 0;
    font-size: 15pt;
    line-height: 120%;
    font-weight: normal;
    color: white;
}

.container .carousel-inner{
  width:80%;
  margin: 0 auto;
}

.profile img{
    max-height: 160px;
    border-radius: 20px;
} 

@media only screen and (min-width: 576px) {
    .personal .profile{
      text-align: right;
    }

    .personal .description{
      text-align: left;
    }
}

@media only screen and (max-width: 576px) {    
    .description p{
      text-align: justify;
    }

    .profile{
      margin-top: 5px !important;
      margin-bottom:5px !important;
      text-align: center;
    }
}

.carouselarrow{
  color:$color2;
}

.carousel-indicators{
    li{
      background-color:$color2;
      opacity:0.5;
    }
    .active{
      background-color:$color2;
      opacity:1;
    }
}

.publications .carousel-inner{
  width:100%;
  margin: 0 auto;
}

.img-responsive{
    max-height: 180px;
    border-radius: 10px;
} 

.topcover{
    min-height: 25vh;
    background: url("../images/cover.jpg") no-repeat center;
    background-size: cover;
    text-align: center;
    position: relative;
}   

.topcoveroverlay{
    min-height: 25vh;
    min-width: 100%;
    background-color: rgba(85,85,85,0.6);
    position: absolute;
    top: 0; left: 0; 
}  

/* Swiper  
-------------------------------------------------- */
 .swiper-container {
      width: 100%;
      height: 100%;
    }
    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
    }
/* footer & subfooter  
-------------------------------------------------- */
.topfooter{
    background: #696969;
    color: white;
    font-size: 10pt;
    padding: 20px 40px;
}

.subfooter {
    background: #555555;
    color: white;
    font-size: 10pt;
    padding: 20px;
}

.subfooter .up {
    height: 20px;
    width: 35px;
    cursor: pointer;
}

.contactleft span{
      color: $color2;
}

.contactitem{
  line-height: 23pt;
}

.contactfeather{
  margin-right:12px;
  vertical-align: middle;
}

.contacttext{
  vertical-align: middle;
}

h3{
  margin-bottom: 15px;
}

.topfooter h3{
  //padding-bottom: 5px;
  border-bottom: 3px solid $color2;  
}

@media only screen and (min-width: 576px) {
.contactright{
      float: right;
}
}

/* nav  
-------------------------------------------------- */
.navbar-collapse.collapse.in { display: block!important; }

.navbar{
  transition: background-color 400ms;
}

.navbar .container{
  min-width: 90vw !important;
}

.navbar-light {
    color: white;
     background-color:rgba(85,85,85,0);

    &.withBackground {
      background-color: white;
      color: $color1;
    }
}

.navbar-brand{
    color: white !important;
    font-size:2.1rem;
    font-weight:500;
    line-height:1.2;
}

.withBackground .navbar-brand{
  color: $color1 !important;
}

.custom-toggler.navbar-toggler,{
    color: white;
    border-width: 0px;
}

.withBackground .custom-toggler.navbar-toggler,{
  color: $color1; 
}

.menubutton {
    display: inline-block;
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}

.withBackground .bar1,.withBackground .bar2,.withBackground  .bar3 {
    width: 35px;
    height: 5px;
    background-color: $color1;
    margin: 6px 0;
    transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
}

/* Fade out the second bar */
.change .bar2 {
    opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
}

.custom-toggler.navbar-toggler:active, .custom-toggler.navbar-toggler:focus, .custom-toggler.navbar-toggler:hover{
     outline: none !important;
}

.nav-link {
font-weight: bold;
color: white !important; 
text-transform: uppercase;
}
.withBackground .nav-link{
  color: $color1 !important; 
}

.nav-link.active {
    color: white !important;
}
.withBackground .nav-link.active{
  color: $color1 !important;
}

.nav-link:hover, .nav-link:focus{
      border-bottom: 3px solid $color2;
      padding-bottom: 3px;
}

.localebutton{
  max-width:60px;
  margin-top:5px;
}

.localebutton select{
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  background-color:transparent;
  color:white;
}

.localebutton select:focus{
  background-color:transparent;
  color:white;
  border-color: $color2;
  box-shadow: 0 0 5px $color2;
}

.withBackground .localebutton select{
  color:$color1;
}

.withBackground .localebutton select:focus{
  color:$color1;
}

.localebutton select > option{
  color:black;
}


@media only screen and (min-width: 768px) {
  .localebutton{
    margin-left:8px;
  }
}


